<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启spring注解包扫描-->
    <context:component-scan base-package="com.mori"></context:component-scan>

    <!--开启SpringMVC框架注解的支持-->
    <!--conversion-service开启类型转换服务-->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!--配置视图解析器-->
    <bean id="internalResourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀，文件所在目录-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!--后缀，文件后缀名-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置前端控制器，不拦截哪些请求，把这些请求当做静态资源直接访问-->
    <!--location：webapp目录下js目录下的文件-->
    <!--mapping：以/js/开头的请求-->
    <mvc:resources location="/js/" mapping="/js/**"/>
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/js/" mapping="/js/**"/>

    <!--配置自定义类型转换器-->
    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!--将自定义类型转换类加入springMVC提供的转换服务中-->
                <bean class="com.mori.utils.StringToDateConverter"/>
            </set>
        </property>
    </bean>

</beans>