<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mori.demo.mapper.AccountMapper">

    <!--定义封装从表account和主表user的resultMap-->
    <resultMap id="accountUserMap" type="account">
        <!--account内容-->
        <id property="id" column="aid"></id> <!--因为两表的两个id重复,所以sql中起了别名-->
        <result property="uid" column="uid"></result>
        <result property="money" column="money"></result>
        <!--user(关联)内容，看作一对一-->
        <association property="user" column="uid" javaType="user"> <!--新增关联属性名、关联外键、封装成的java类型-->
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
            <result property="sex" column="sex"></result>
            <result property="address" column="address"></result>
            <result property="birthday" column="birthday"></result>
        </association>
    </resultMap>

    <!--查询所有账户-->
    <select id="findAll" resultType="com.mori.demo.Account">
        select * from eesy_mybatis.account ;
    </select>

    <!--查询所有账户,关联用户-->
    <select id="findAllWithUser" resultMap="accountUserMap">
        select
            a.id as aid,
            a.uid,
            a.money,
            u.*
        from
            eesy_mybatis.account a,
            eesy_mybatis.user u
        where
            u.id = a.uid;
    </select>

</mapper>